@model HomeCategoryViewModel

<h2>Categories</h2>

<table>
    @foreach (var category in Model.CategoryList)
    {
    <tr>
        <td>@category.CategoryId</td>
        <td>@category.Name</td>
        <td>@Html.ActionLink("More...", "Details", "Category", new { Id = category.CategoryId })</td>
    </tr>
    }
</table>

@Html.ActionLink("Add Category", "Create", "Category")

